*, *::before, *::after { box-sizing: border-box; }

img 
{
    float: left;
    height: 2.5em;
    width: 2.5em;
    margin-right: 1em;
    border-radius: 50%;
}



html
{
    display: grid;
    place-items: center;
    height: 200vh;
    background-color: hsl(0, 0%, 81%);
}

body
{
    max-width: 80%;
    gap: 1em;
    color: #fff;
}

section
{
    
    padding: 2em;
    border-radius: 1em;
}

h1, h2
{
    font-family: 'Barlow Semi Condensed';
    font-weight: 600;
}

h1
{
    max-width: 22ch;
    font-size: 1em;
}

span
{
    opacity: .5;
}

p
{
    font-family: 'Barlow Semi Condensed';
    font-weight: 500;
    opacity: .7;
}

.dan
{
    /* display: grid;
    grid-template-columns: span 2;
    grid-template-rows: span 1; */
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: 80em;
    background-color: hsl(263, 55%, 52%);
}

.dan img 
{
    border: 3px solid hsl(263, 64%, 65%);
}

.jon
{
    /* display: grid;
    grid-template-columns: span 1;
    grid-template-rows: span 1; */
    background-color: hsl(217, 19%, 35%);
}

.jon img
{
    border: 3px solid hsl(217, 19%, 35%);
}

.jean
{
    /* display: grid;
    grid-template-columns: span 1;
    grid-template-rows: span 1; */
    color: #000;
    background-color: hsl(0, 0%, 100%);
}

.jean img
{
    border: 3px solid hsl(0, 0%, 100%);
}

.pat
{
    /* display: grid;
    grid-template-columns: span 2;
    grid-template-rows: span 1; */
    background-color: hsl(219, 29%, 14%);
}

.pat img
{
    border: 3px solid hsl(263, 64%, 65%);
}

.kira
{
    /* display: grid;
    grid-template-columns: span 1;
    grid-template-rows: span 2; */
    color: #000;
    background-color: hsl(0, 0%, 100%);
}

.kira img
{
    border: 3px solid hsl(0, 0%, 100%);
}

.attribution 
{ 
    position: absolute;
    color: #000;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 50px;
    font-size: 11px; 
    text-align: center; 
}

.attribution a 
{ 
    color: hsl(228, 45%, 44%); 
}